@import "bootstrap";
//@import "font-awesome";

$lightgray: #eee;
$bgReveal: $lightgray;
$transitionReveal: 1s;

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.board {
  margin: 0 auto;
  animation: mymove 1s cubic-bezier(0.55, 0.16, 0.25, 1.27);
  border: 2px solid black;
  box-shadow: 3px 3px 10px 1px #888888;
}

.again {
  margin-left: 25px;
}

h1, .sub {
  text-align: center;
}

.message {
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  font-size: 28px;
  display: none;
  text-shadow: 0 0 20px white;
  &.visible {
    display: block;
    animation: textmsg 1s cubic-bezier(0.5, 0.2, 0.3, 1.0);
  }
}

td {
  font-weight: bold;
  font-size: 28px;
  border: 1px solid black;
  width: 45px;
  height: 45px;
  text-align: center;
  cursor: pointer;
  color: white;
}

.time {
  font-size: 24px;
}

.zero {
  color: white;
  background-color: black;
  transition: $transitionReveal;
}

.one {
  color: blue;
  background-color: $bgReveal;
  transition: $transitionReveal;
}

.two {
  color: green;
  background-color: $bgReveal;
  transition: $transitionReveal;
}

.three {
  color: red;
  background-color: $bgReveal;
  transition: $transitionReveal;
}

.four {
  color: darkblue;
  background-color: $bgReveal;
  transition: $transitionReveal;
}

.five {
  color: brown;
  background-color: $bgReveal;
  transition: $transitionReveal;
}

.six {
  color: cyan;
  background-color: $bgReveal;
  transition: $transitionReveal;
}

.seven {
  color: black;
  background-color: $bgReveal;
  transition: $transitionReveal;
}

.eight {
  color: gray;
  background-color: $bgReveal;
  transition: $transitionReveal;
}


@keyframes mymove {
  0%   {transform: scale(0)}
  100% {transform: scale(1)}
}

@keyframes textmsg {
  0% {
    margin-top: -250px;
    font-size: 0;
  }
  50% {
    margin-top: -250px;
    font-size: 80px;
  }
  100% {
    margin-top: 20px;
    font-size: 28px;
  }
}
